[Desktop Entry]
Name=Opal
Exec=Opal
Icon=Opal
Comment=Opal is a free and open-source JavaFX application that can play relaxing music in the background
Type=Application
Categories=Utility;
